.container {
  box-sizing: border-box;
  background-color: #000;
  background: url('https://images.unsplash.com/photo-1611162617474-5b21e879e113?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI1fHxtb3ZpZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60')
    no-repeat center center fixed;
  background-size: cover;
}
.title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #eee;
  padding: 3.5rem 0 3.5rem 0;
  text-align: center;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.button {
  width: 100vw;
  padding: 0;
  cursor: pointer;
}
